[package]
name = "mcts"
version = "0.1.0"
edition = "2024"

[dependencies]
rand = { workspace = true }
futures = { workspace = true }

thiserror = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
